include ./header

.Container 
    .row 
     .col-md-8(style='position: relative; top: 10px; margin: auto; z-index: 100;')
        form.register(action="/admin/addUser" method="POST" name="form")
            h5(style='text-align: center; margin-top: 10px;') Add User
            .form-group
                p Full Name
                input.form-control(type="text" name="fullname" required="required")
            .form-group
                p Email Address
                input.form-control(type="email" name="email" required="required")
            .form-group
                p Country/Address
                input.form-control(type="text" name="address" required="required")
            .form-group
                p Phone Number
                input.form-control(type="text" name="phone" required="required")
            .form-group
                select.form-control(name="status" required)
                    option(value="") Account Type:
                    option(value="Buyer")= "Buyer"
                    option(value="Seller")= "Seller"
            .form-group
                p Password
                input.form-control(type="password" name="password" required="required")
            .form-group
                p Re Enter Password
                input.form-control(type="password" name="password2" required="required")
            .form-group
                input.btn.btn-primary.form-control(type="submit" value="Add User")
