include ./header

.messages
    if(login_errors)
        p(style='padding: 5px 10px; color: red; text-align: center; font-size: 1.25em; background-color: aqua;')= login_errors

.wrapper
  .text-center.mt-4.name
    | Admin Login
  form.adminLogin(method='POST' action='/admin/adminlogin').p-3.mt-3
    .form-field.d-flex.align-items-center
      span.far.fa-envelope
      input#email(type='email' name='email' placeholder='Email')
    .form-field.d-flex.align-items-center
      span.fas.fa-key
      input#pwd(type='password' name='password' placeholder='Password')
    button.btn.mt-3(type='submit') Login
  .text-center.mt-4
    if errors
      for error, i in errors
        div.alert.alert-danger #{error}
    if messages
      for message in messages
        div.alert.alert-danger #{message}
  .text-center.fs-6
    |  Normar User ? 
    a(href='/register') Register Here

