include ./header
doctype html
head 
    title Contact & Feedback
.container
    h1.text-primary.mb-4 Contact & Feedback
    .row
        .col-md-6
            .card.bg-light.mb-3
                .card-header.text-primary.text-center
                    h4.mb-0
                        i.fa.fa-envelope
                        | Contact
                .card-body
                    form(action='/contact' method='post')
                        .form-group
                            label.text-primary.font-weight-bold
                                | Name
                            input.form-control(type='text' name='name' placeholder='Enter Name')
                        .form-group
                            label.text-primary.font-weight-bold
                                | Email
                            input.form-control(type='email' name='email' placeholder='Enter Email')
                        .form-group
                            label.text-primary.font-weight-bold
                                | Message
                            textarea.form-control(name='message' rows='3' placeholder='Enter Message')
                        .form-group
                            button.btn.btn-primary.float-right(type='submit' value='Send')
                                | Send
    .row
        .col-md-6
            .card.bg-light.mb-3
                .card-header.text-primary.text-center
                    h4.mb-0
                        i.fa.fa-envelope
                        | Feedback
                .card-body
                    form(action='/feedback' method='post')
                        .form-group
                            label.text-primary.font-weight-bold
                                | Name
                            input.form-control(type='text' name='name' placeholder='Enter Name')
                        .form-group
                            label.text-primary.font-weight-bold
                                | Email
                            input.form-control(type='email' name='email' placeholder='Enter Email')
                        .form-group
                            label.text-primary.font-weight-bold
                                | Message
                            textarea.form-control(name='message' rows='3' placeholder='Enter Message')
                        .form-group
                            button.btn.btn-primary.float-right(type='submit' value='Send')
                                | Send



