head
  title Online Auction 
  meta(charset='utf-8')
  link(href='/icons/sprites/logo.png' rel='icon')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/css/bootstrap.min.css')
  link(rel='stylesheet' href='/icons/css/all.css')
  link(rel='stylesheet' href='/css/styles.css')
