* {
    box-sizing: border-box;
    font-family: arial;
}
.slider-container {
    width: 500px;
    height: 350px;
    border: 1px solid #cccccc;
    margin: auto;
    position: relative;
    box-shadow: 0px 0px 2px #a3a3a3;
}

.slider-container .slider {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

}

.slider-container .slider .images img {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    z-index: 0;
    left: 0px;
    opacity: 0;
   
   
}
.slider-container .slider .images img.show {
   z-index: 1;
   opacity: 1;
   
   /* Try diffirent Animations */
  animation: imageAnimateOpacity 1s ease;
   /*animation: imageAnimateScale 0.5s ease-out;*/
   /*animation: imageAnimateRotate 0.5s ease;*/
   
   
}

@keyframes imageAnimateRotate{
    from {
        
        transform: rotate(180deg);
        width: 0%;
        height: 0%;
        left: 50%;
        top: 50%;
       
    }
    to {
      
        transform: rotate(360deg);
        width: 100%;
        height: 100%;
        left: 0%;
        top: 0%;
       
    }
}

@keyframes imageAnimateOpacity{
    from {
        opacity: 0;

    }
    to {
        opacity: 1;
    }
}

@keyframes imageAnimateScale{
    from {
        opacity: 0;
        transform: scale(0.5,0.5);

    }
    to {
        opacity: 1;
        transform: scale(1.2,1.2);
    }
}

.slider-container .leftArrow , .slider-container .rightArrow {
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background-color: #003232;
   
    border-radius: 100%;
    font-weight: bold;
    font-size: 20px;
    color: white;
    top: 45%;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 

    
}
.slider-container >  span:hover {
    background-color: #066c6c;
    transition: 0.2s;
}
.slider-container .leftArrow {
    left: -40px;
    animation: leftArrow 0.5s ease;
}

@keyframes leftArrow {
    from {
        left: 0px;
        opacity: 0;
    }
    to {
        opacity: 1;
        left: -40px;
    }
}
.slider-container .rightArrow {
    right: -40px;
    animation: rightArrow 0.5s ease;
   
}

@keyframes rightArrow {
    from {
        opacity: 0;
        right: 0px;
    }
    to {
        opacity: 1;
        right: -40px;
    }
}

.circle {
    margin-top: 20px;
    text-align: center;
}

.circle span {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 2px solid silver;
    box-shadow: 0px 0px 1px silver;
    border-radius: 100%;
    cursor: pointer;
}

.btnShow {
    border: 2px solid gray !important;
    background-color: gray;
}
.slider-container .slider > img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 25px;
    height: 25px;
    z-index: 3;
    cursor: pointer;
    background-color: white;
    opacity: 0.7;

}
@media screen and (max-width: 800px) {
    .slider-container {
        width: 85%;
    }
}

.info {
    margin-top: 70px;
    display: block;
    clear: both;
    overflow: auto;
}

.info div {
    clear: both;
    border-bottom: 1px solid silver;
    overflow: auto;
    padding: 2px 5px;
    margin-bottom: 10px;
}
.info div p {
    font-weight: bold;
}
.info div p:first-child {
    float: left;
}
.info div p:last-child {
    float: right;
}

.info .desc {
    border-bottom: none;
}
.info .desc h6 {
    text-align: center;
}

.info .desc p {
    font-weight: normal;
    text-align: justify;
}

.bid-container{
    width: 140px;
    height: 140px;
    margin: 64px auto;
}
.prec{
    top: 30px;
    position: relative;
    font-size: 30px;
}

.circle-bid{
    position: relative;
    top: 5px;
    left: 5px;
    text-align: center;
    width: 170px;
    height: 170px;
    border-radius: 100%;
    background-color: #E6F4F7;
}

.active-border{
    position: relative;
    text-align: center;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    background-color:#39B4CC;
    background-image:
        linear-gradient(90deg, transparent 50%, #A2ECFB 50%),
        linear-gradient(90deg, #A2ECFB 50%, transparent 50%);
}

.circle-content {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.previous-bids  h5, .add-bid h5{
    padding: 8px;
    text-align: center;
    background-color: #2a8080;
    color: white;
}
.previous-bids .content {
    text-align: center;
    margin: auto;
}

.previous-bids .content div {
    float: left;
    margin: 10px 4%;
    border: 1px solid gray;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    text-align: center;
}

.previous-bids .content div p {
    margin-top: 30px;
}

.register , .login{
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.register {
    max-width: 450px !important;
}

.register p, .login p{
    margin-bottom: 3px;
}

.extra {
    margin-top: 30px;
    color: #b94316;
    cursor: pointer;
    background-color: paleturquoise;
    border-radius: 10px;
    padding: 10px;
}


.items {
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.items img{
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.items footer {
    margin-top: 10px;
    font-size: 14px;
}

.items footer span:last-child {
    float: right;
}

.itemShow {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
.itemShow img {
    width: 100%;
    border-radius: 5px;
}





@media screen and (max-width: 750px){
    .previouse-bids .content div {
        width: 120px;
        height: 120px;
        margin: 10px 2%;
    }
    .previouse-bids .content div p {
        margin-top: 20px;
    }
    .register , .login {
        width: 90%;
    }
}


/* admin dashboard css */


.ftco-section {
  padding: 3em 0; }

.ftco-no-pt {
  padding-top: 0; }

.ftco-no-pb {
  padding-bottom: 0; }

.heading-section {
  font-size: 28px;
  color: #000; }

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.table-wrap {
  overflow-x: scroll; }

.table {
  min-width: 1000px !important;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  text-align: center; }
  .table thead.thead-primary {
    background: #6807f9; }
  .table thead th {
    border: none;
    padding: 30px;
    font-size: 14px;
    color: #fff; }
  .table tbody tr {
    margin-bottom: 10px; }
  .table tbody th, .table tbody td {
    border: none;
    padding: 30px;
    font-size: 14px;
    background: #fff;
    vertical-align: middle;
    border-bottom: 2px solid #f8f9fd; }
  .table tbody th.scope {
    background: #e8ebf8;
    border-bottom: 2px solid #e0e5f6; }
  @media (min-width: 768px) {
    .table tbody td:nth-child(odd) {
      background: #f4f6fc;
      border-bottom: 2px solid #eceffa; } }


/* header css */

.navbar {
    padding: 0px;
    border-bottom: 3px solid #22c6e0;
}
  
.navbar-nav {
    padding:0px 20px;
}
.navbar-nav li {
    display: inline-block;
    margin-left: 25px;
    padding: 0px 8px;
    text-transform: uppercase;
    color: #ffffff80;
}
.navbar .navbar-brand .logo {
    height: 40px;
}
  

/* adminLogin */

/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}
.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-field .fas {
    color: #555;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color: #039BE5;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;
}

.wrapper a:hover {
    color: #039BE5;
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}


/* contact section */

#Contact {
    padding-bottom: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    clip-path: polygon(50% 0%, 80% 10%, 100% 0, 100% 100%, 0 100%, 0 0, 20% 10%);
  
  }
  
  #Contact .section-info{
    padding: 0px 0px 0px 0px;
  }
  
  #Contact .section-bar {
    margin: 0px;
  }
  
  #Contact .section-title{
    color: #fff;
  }
  
  #Contact .section-bar {
    background: #fff;
  }
  
  /*Contact*/
  
  
  .contact-bg {
    display: flex;
    min-height: 100vh;
  }
  
  .contact-form {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
    margin-top: 50px;
  }
  
  .contact-details {
    position: relative;
    background: #fafffd;
    border-radius: 15px;
  }
  
  .contact-details:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .contact-header {
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    background: #e8ffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #ea1d78;
  }
  
  .contact-body {
    display: flex;
  }
  
  .contact-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .contact-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: rgb(26, 26, 26);
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
    font-weight: 600;
  }
  
  .app-form-control::placeholder {
    color: #666;
    font-weight: 400;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #b9134f;
  }
  
  @media contact and (max-width: 520px) {
    .contact-body {
      flex-direction: column;
    }
  
    .contact-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media contact and (max-width: 600px) {
    .contact-body {
      padding: 40px;
    }
  
    .contact-body-item {
      padding: 0;
    }
  }